@model AdminWeb.DAL.Connections.Staff

@{
    ViewBag.Title = "Bæta við starfsmanni";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Skrá nýjan starfsmann</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Forsíða", "Index", "Home")
            </li>
            <li>
            @Html.ActionLink("Starfsmannayfirlit", "Index")
            </li>
            <li class="active">
                <strong>Skrá nýjan starfsmann</strong>
            </li>
        </ol>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Nýr starfsmaður</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Nafn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Aldur</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Netfang</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Leyfi til að endurgreiða?</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Refund)
                @Html.ValidationMessageFor(model => model.Refund)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Staðfesta" class="btn btn-primary" />
				@Html.ActionLink("Hætta við", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
