@model AdminWeb.DAL.Connections.Staff

@{
    ViewBag.Title = "Eyða starfsmanni";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Delete</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Forsíða", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Starfsmannayfirlit", "Index")
            </li>
            <li class="active">
                <strong>Eyða starfsmanni</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Starfsmaður</h5>
                </div>
                <div class="ibox-content">
				<h4 class="text-danger">Ertu viss um þú viljir eyða þessum starfsmanni?</h4>
				 <dl class="dl-horizontal">
        <dt>
            Nafn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           Aldur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Tölvupóstur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
           Leyfi til að endurgreiða
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refund)
        </dd>

        <dt>
            Lykilorð
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Til baka í starfsmenn", "Index", null, new { @class = "btn btn-white"})
        </div>
    }



                </div>
            </div>
        </div>
    </div>
 </div>


