@model IEnumerable<AdminWeb.DAL.Connections.Transaction>

@{
    ViewBag.Title = "Yfirlit færslna";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Allar Færslur</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Forsíða", "Index", "Home")
            </li>
            <li class="active">
                <strong>Færslur</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Færslu listi</h5>		
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            Starfsmaður
        </th>
        <th>
            Færslunúmer
        </th>
        <th>
            Dagssetning
        </th>
        <th>
            Upphæð
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(item.Staff.Name, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



