@model AdminWeb.DAL.Connections.Notification

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Forsíða", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Tilkynningar", "Index")
            </li>
            <li class="active">
                <strong>Nánar um tilkynningu</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Notification</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Starfsmaður
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transaction.Staff.Name)
        </dd>
        <dt>
            Dagsetning
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Tilkynning
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Færslunúmer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionID)
        </dd>
        <dt>
            Upphæð færslu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>

    </dl>


    @Html.ActionLink("Til baka í tilkynningar", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













