@model IEnumerable<AdminWeb.DAL.Connections.Notification>


@{
    ViewBag.Title = "Tilkynningar";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Tilkynningar</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Forsíða", "Index", "Home")
            </li>
            <li class="active">
                <strong>Tilkynningar</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
           
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            Starfsmaður
        </th>
        <th>
            Dagsettning
        </th>
        <th>
            Skilaboð
        </th>
        <th>
            Færslunúmer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction.Staff.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionID)
        </td>
        <td>
			@Html.ActionLink("Upplýsingar", "Details", new { id=item.ID }, new { @class = "btn btn-primary btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



