@using Microsoft.AspNet.Identity
@model AdminWeb.Models.ManageUserViewModel

<p>Þú ert innskráð/ur sem <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        <label class="col-md-4 control-label">Gamla lykilorðið</label>
        <div class="col-md-8">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Nýja lykilorðið</label>
        <div class="col-md-8">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Staðfesta nýja lykilorðið</label>
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" value="Breyta lykilorði" class="btn btn-primary" />
        </div>
    </div>
}
